.controller-container {
    display: none;
    position: absolute;
    left:0; right:0;
    bottom: 16px;
    text-align:center;
    justify-content: center;
}
  
.controller-container.sizeSmall {
    display: flex;
    touch-action: none; 
    justify-content: space-around;
    align-items: center;
}

