.Inbox  {    
    font-family: "Hellovetica";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 240px;
    height: 160px;
    padding: 0;
    background: var(--menu-background);
    color: var(--menu-font-color);
    display: none;
    font-size: 5px;
    image-rendering: pixelated;
}

.Inbox h1 {
    background: var(--menu-border-color);
    color: var(--menu-background);
    font-size: 7px;
    margin: 0;
    padding: 2px 0 1px 3px;
    image-rendering: pixelated;
}

.Inbox_message {
    display: inherit;
    margin: 4px 2px;
    image-rendering: pixelated;
}

.Inbox_message .Header {
    font-weight: bold;
    font-size: 4px;
    margin-bottom: 1px;
    image-rendering: pixelated;
}
.Inbox_message .Text {
    font-size: 4px;
    align-items: baseline;
    padding-top: 1px;
    image-rendering: pixelated;
}