.Overlay {    
    font-family: "Hellovetica";
    position: absolute;
    left: 124px;
    right: 72px;
    top: 36px;
    width: 240px;
    padding: 4px;
    background: var(--menu-background);
    /* border-top: 1px solid var(--menu-border-color); */
    color: var(--menu-font-color);
    display: none;
}

.Overlay_exit {
    margin: 0;
    font-size: 4px;
    border-top: 1px solid var(--menu-border-color);
    -webkit-appearance: none;
    background: white;
    font-family: inherit;
    cursor: pointer;
    position: absolute;
    top: -6px;
    padding: 3px 2px 2px 2px;
    right: -6px;
}

.Overlay_component {
    display: flex;
}